<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256">
	<title>1. Bergungsgruppe mit Einsatzgerüstsystem</title>
	<defs>
		<style type="text/css">
		{% include './fonts/fonts.j2' %}
		</style>
		<clipPath id="symbol">
			<rect x="10" y="64" width="236" height="128" />
		</clipPath>
	</defs>
	<rect x="10" y="64" width="236" height="128" fill="{{ thw.colorPrimary }}" stroke="{{ thw.colorSecondary }}" stroke-width="10" clip-path="url(#symbol)" />
	<rect x="10" y="64" width="236" height="128" fill="none" stroke="{{ thw.colorStroke }}" stroke-width="1" />
	<ellipse cx="64"  cy="48" rx="10" ry="10" fill="{{ thw.colorStroke }}" />
	<ellipse cx="192" cy="48" rx="10" ry="10" fill="{{ thw.colorStroke }}" />
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 48px; " fill="{{ thw.colorSecondary }}" x="128" y="145">B</text>
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: start;" fill="{{ thw.colorSecondary }}" x="20" y="180">EGS</text>
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: end;" fill="{{ thw.colorSecondary }}" x="236" y="180">THW</text>
</svg>