<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Gerätewagen Tauchen (geländegängig)</title>
	<defs>
		<style type="text/css">
		{% include './fonts/fonts.j2' %}
		</style>
		<clipPath id="symbol">
			<path d="M10,64 L10,192 L246,192 L246,64 Q128,100 10,64 Z" />
		</clipPath>
	</defs>
	<path d="M10,64 L10,192 L246,192 L246,64 Q128,100 10,64 Z" fill="#FFFFFF" stroke-width="10" stroke="#000000" clip-path="url(#symbol)" />
	<path d="M10,64 L10,192 L246,192 L246,64 Q128,100 10,64 Z" fill="none" stroke-width="1" stroke="#000000" />

	<text x="22" y="105" style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 20px;" fill="#000000">GW Tauchen</text>

	<path d="M128 142 l18 18 l-18 18 l-18 -18 l18 -18 Z" stroke-width="4" stroke="#000000" fill="none" />
	<path d="M103 134 c 5,0 5,-9 12,-9 6,0 6,9 12,9 6,0 6,-9 12,-9 7,0 7,9 12,9" fill="none" stroke="#000000" stroke-width="4" />
	<path d="M103 122 c 5,0 5,-9 12,-9 6,0 6,9 12,9 6,0 6,-9 12,-9 7,0 7,9 12,9" fill="none" stroke="#000000" stroke-width="4" />

	<ellipse cx="40" cy="210" rx="10" ry="10" stroke="{{ thw.colorStroke }}" fill="none" stroke-width="5" />
	<ellipse cx="128" cy="210" rx="10" ry="10" stroke="{{ thw.colorStroke }}" fill="none" stroke-width="5" />
	<ellipse cx="216" cy="210" rx="10" ry="10" stroke="{{ thw.colorStroke }}" fill="none" stroke-width="5" />
</svg>
