<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Führungsstelle Infrastruktur THW</title>
	<defs>
		<style type="text/css">
		{% include './fonts/fonts.j2' %}
		</style>
	</defs>
	<g>
		<rect fill="none" stroke="#000000" stroke-width="5" x="10" y="64" width="236" height="128" />
		<line stroke="#000000" stroke-width="5" x1="10" y1="193" x2="10" y2="225" />
		<rect fill="#0000FF" stroke="#FFFFFF" stroke-width="3" x="10" y="64" width="236" height="128" />
		<line stroke="#FFFFFF" stroke-width="3" x1="10" y1="193" x2="10" y2="225" />
	</g>
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 56px; text-anchor: middle;" fill="#FFFFFF" x="128" y="150">Infra</text>
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 24px; text-anchor: end;" fill="#FFFFFF" x="236" y="182">THW</text>
</svg>
