<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256">
	<title>Analytische Task Force</title>
	<defs>
		<clipPath id="symbol">
			<rect x="10" y="64" width="236" height="128" />
		</clipPath>
	</defs>
	<rect x="10" y="64" width="236" height="128" stroke="{{ katastrophenschutz.colorStroke }}" stroke-width="10" fill="{{ katastrophenschutz.colorPrimary }}" clip-path="url(#symbol)" />
	
	<path d="M10,192 l236,-128" stroke-width="5" stroke="{{ katastrophenschutz.colorSecondary }}" fill="none" clip-path="url(#symbol)" />
	<path d="M88 92 L188 164 M168 92 L68 164" stroke="{{ katastrophenschutz.colorSecondary }}" stroke-width="10" fill="none" />
	<ellipse cx="78" cy="102" rx="20" ry="20" fill="{{ katastrophenschutz.colorSecondary }}" />
	<ellipse cx="178" cy="102" rx="20" ry="20" fill="{{ katastrophenschutz.colorSecondary }}" />

	<ellipse cx="64"  cy="48" rx="10" ry="10" fill="{{ katastrophenschutz.colorStroke }}" />
	<ellipse cx="192" cy="48" rx="10" ry="10" fill="{{ katastrophenschutz.colorStroke }}" />

	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: end;" fill="{{ katastrophenschutz.colorStroke }}" x="236" y="180">ATF</text>
</svg>