<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256">
	<title>Dekontaminierungsgruppe Personen 10</title>
	<defs>
		<clipPath id="symbol">
			<rect x="10" y="64" width="236" height="128" />
		</clipPath>
	</defs>
	<rect x="10" y="64" width="236" height="128" stroke="{{ katastrophenschutz.colorStroke }}" stroke-width="10" fill="{{ katastrophenschutz.colorPrimary }}" clip-path="url(#symbol)" />

	<path d="M104,103 l50,50 M152,103 l-50,50" stroke-width="8" stroke="{{ katastrophenschutz.colorSecondary }}" fill="none" />
	<path d="M108,157 L98,157 L98,147 Z" fill="{{ katastrophenschutz.colorSecondary }}" />
	<path d="M148,157 L158,157 L158,147 Z" fill="{{ katastrophenschutz.colorSecondary }}" />
	<ellipse cx="104" cy="110" rx="10" ry="10" fill="{{ katastrophenschutz.colorSecondary }}" />
	<ellipse cx="152" cy="110" rx="10" ry="10" fill="{{ katastrophenschutz.colorSecondary }}" />
	<ellipse cx="128" cy="128" rx="45" ry="45" fill="none" stroke="{{ katastrophenschutz.colorSecondary }}" stroke-width="2" />

	<ellipse cx="64"  cy="48" rx="10" ry="10" fill="{{ katastrophenschutz.colorStroke }}" />
	<ellipse cx="192" cy="48" rx="10" ry="10" fill="{{ katastrophenschutz.colorStroke }}" />
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: end;" fill="{{ katastrophenschutz.colorStroke }}" x="236" y="180">P-10</text>
</svg>