<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Behandlungsplatz</title>
	<defs>
		<clipPath id="base">
			<ellipse cx="128" cy="128" rx="64" ry="64" />
		</clipPath>
	</defs>
	<ellipse fill="#FFFFFF" stroke="#000000" stroke-width="5" cx="128" cy="128" rx="64" ry="64" />
	<path d="M128,64 l0,128 M64,128 l128,0" stroke="#000000" stroke-width="5" fill="none" />
</svg>