<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Hubschrauberlandeplatz</title>
	<defs>
		<clipPath id="base">
			<ellipse cx="128" cy="128" rx="64" ry="64" />
		</clipPath>
	</defs>
	<ellipse fill="#FFFF00" stroke="#000000" stroke-width="5" cx="128" cy="128" rx="64" ry="64" />
	<path d="M110,162 l36,0 M128,162 l0,-54" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M128,108 a5,5 90 0 1 5,-5 l32,0 a5,5 180 0 1 0,10 l-32,0 a5,5 90 0 1 -5,-5 Z" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M128,108 a5,5 90 0 0 -5,-5 l-32,0 a5,5 180 0 0 0,10 l32,0 a5,5 90 0 0 5,-5 Z" stroke="#000000" stroke-width="5" fill="none" />
</svg>