<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256">
	<defs>
		<clipPath id="base">
			<ellipse cx="128" cy="128" rx="64" ry="64" />
		</clipPath>
	</defs>
    <circle fill="#FFFFFF" stroke="#000000" stroke-width="5" stroke-dasharray="10,10" cx="128" cy="128" r="64"/>
    <text font-size="28" x='85' y="136" stroke-width="2" >Wache</text>
</svg>
