<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256">
	<defs>
		<clipPath id="base">
			<ellipse cx="128" cy="128" rx="64" ry="64" />
		</clipPath>
	</defs>
    <circle fill="#FFFFFF" stroke="#000000" stroke-width="5" stroke-dasharray="10,10" cx="128" cy="128" r="64"/>
    <rect x="88" y="110" width="80" height="36" fill="none" stroke="#000000" stroke-width="2" />
    <line x1="88" x2="168" y1="128" y2="128" stroke-width="2" stroke="#000000" />
    <line x1="128" x2="128" y1="110" y2="145" stroke-width="2" stroke="#000000" />
</svg>
