<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Trinkwasserversorgung</title>
	<defs>
		<style type="text/css">
			{% include './fonts/fonts.j2' %}
		</style>
		<clipPath id="base">
			<ellipse cx="128" cy="128" rx="64" ry="64" />
		</clipPath>
	</defs>
    <circle fill="#FFFFFF" stroke="#000000" stroke-width="5" cx="128" cy="128" r="64"/>

	<path d="M 128 128 l32 0 l-32 0 l0 -10 l0 20 m-20 10 c0 0 0 -20 20 -20" stroke-width="10" stroke="#000000" fill="none" />
    <text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 32px; text-anchor: middle;" x="128" y="220">Wasservers.</text>
</svg>