<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Rettungs- und Sicherungsboot</title>
	<defs>
		<style type="text/css">
		{% include './fonts/fonts.j2' %}
		</style>
		<clipPath id="symbol">
			<path d="M10,64 l236,0 A118,118 180 0 1 10,64 Z" />
		</clipPath>
	</defs>
	<path d="M10,64 l236,0 A118,118 180 0 1 10,64 Z" stroke="{{ thw.colorSecondary }}" fill="{{ thw.colorPrimary }}" stroke-width="10" clip-path="url(#symbol)" />
	<path d="M10,64 l236,0 A118,118 180 0 1 10,64 Z" stroke="{{ thw.colorStroke }}" fill="none" stroke-width="1" clip-path="url(#symbol)" />
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 48px; " fill="{{ thw.colorSecondary }}" x="128" y="127">RuSB</text>
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: end;" fill="{{ thw.colorSecondary }}" x="236" y="180">THW</text>
</svg>
