<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Einheit der Bundespolizei</title>
	<defs>
		<style type="text/css">
		{% include './fonts/fonts.j2' %}
		</style>
		<clipPath id="symbol">
			<rect x="10" y="64" width="236" height="128" />
		</clipPath>
	</defs>
	<rect x="10" y="64" width="236" height="128" fill="{{ polizei.colorPrimary }}" stroke="{{ polizei.colorSecondary }}" stroke-width="10" clip-path="url(#symbol)" />
	<rect x="10" y="64" width="236" height="128" fill="none" stroke="{{ polizei.colorStroke }}" stroke-width="1" />
	<text style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 48px;" fill="{{ polizei.colorStroke }}" x="128" y="145">BPOL</text>
</svg>