<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Teilblockiert</title>
	<line x1="118" x2="118" y1="64" y2="192" stroke-width="5" stroke="#000000" />
	<line x1="138" x2="138" y1="64" y2="192" stroke-width="5" stroke="#000000" />
</svg>