<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Feuerwehrboot</title>
	<path d="M13,67 l230,0 A112,110 180 0 1 13,67 Z" stroke="#FFFFFF" fill="#FF0000" stroke-width="5" />
	<path d="M10,64 l236,0 A118,118 180 0 1 10,64 Z" stroke="#000000" fill="none" stroke-width="1" />
</svg>
