<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Rettungshund</title>
	<path d="M184 128 l22 40 m-44 0 l22 -40 l16 -30  m-16 30 l-134 0 l22 -40 l22 40 l-22 40 m22 -40 l22 40" stroke-width="5" stroke="#000000" fill="none" />
</svg>