<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Gefahr durch elektrischen Strom</title>
	<path d="M50,64 L128,192 L206,64 Z" stroke-width="5" stroke="#FF0000" fill="none" />
	<path d="M118,80 l0,40 l20,-20 l0,50 m-10,-10 l10,10 l 10,-10" stroke-width="5" stroke="#FF0000" fill="none" />
</svg>