<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Person mit Sonderfunktion</title>
	<path d="M64,128 L128,64 L192,128 L128,192 Z" stroke-width="5" stroke="none" fill="#FFFFFF" />
	<path d="M152,88 L104,88" stroke-width="5" stroke="#000000" />
	<path d="M64,128 L128,64 L192,128 L128,192 Z" stroke-width="5" stroke="#000000" fill="none" />
</svg>