<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<defs>
		<clipPath id="symbol">
			<path d="M10,64 l236,0 A118,118 180 0 1 10,64 Z" />
		</clipPath>
	</defs>
	<path d="M10,64 l236,0 A118,118 180 0 1 10,64 Z" stroke="#000000" fill="#FFFFFF" stroke-width="10" clip-path="url(#symbol)" />
	<path d="M10,64 l236,0 A118,118 180 0 1 10,64 Z" stroke="#000000" fill="none" stroke-width="1" clip-path="url(#symbol)" />
</svg>