<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<defs>
		<clipPath id="symbol">
			<path d="M10 64 L10 192 L246 192 L246 64 L128 16 L10 64 Z" />
		</clipPath>
	</defs>
	<rect x="10" y="64" width="236" height="128" fill="#FFFFFF" stroke="#000000" stroke-width="10" clip-path="url(#symbol)" />
	<path d="M10 64 L128 16 L246 64" stroke="#000000" stroke-width="10" fill="#FFFFFF" clip-path="url(#symbol)" />
	<path d="M10 64 L10 192 L246 192 L246 64 L128 16 L10 64" stroke="#000000" stroke-width="1" fill="none" />
	<path d="M10 65 L246,65 M128,64 l0,128 M10,128 l236,0 M69,108 l0,40 M187,108 l0,40" stroke="#000000" stroke-width="5" fill="none" />
</svg>