<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256">
	<title>Technischer Berater Ortung</title>
	<defs>
		<style type="text/css">
		{% include './fonts/fonts.j2' %}
		</style>
	</defs>
	<path d="M69,128 L128,69 L187,128 L128,187 Z" stroke-width="5" stroke="{{ thw.colorSecondary }}" fill="{{ thw.colorPrimary }}" />
	<path d="M147,88 L108,88" stroke-width="5" stroke="{{ thw.colorSecondary }}" />
	<path d="M64,128 L128,64 L192,128 L128,192 Z" stroke-width="2" stroke="{{ thw.colorStroke }}" fill="none" />
	<text x="128" y="140" style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 32px;" fill="{{ thw.colorSecondary }}">TeBe</text>
    <text x="90" y="187" style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: end; font-size: 28px;" fill="{{ thw.colorStroke }}">O</text>
</svg>