<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Zugführer Fachzug Führung-Kommunikation</title>
	<defs>
		<style type="text/css">
		{% include './fonts/fonts.j2' %}
		</style>
	</defs>
	<path d="M69,128 L128,69 L187,128 L128,187 Z" stroke-width="5" stroke="#FFFFFF" fill="#003399" />
	<path d="M128,64 L152,88 L104,88 Z" stroke-width="0" fill="#FFFFFF" />

	<ellipse cx="100" cy="44" rx="10" ry="10" fill="#000000" />
	<ellipse cx="128" cy="44" rx="10" ry="10" fill="#000000" />
	<ellipse cx="156" cy="44" rx="10" ry="10" fill="#000000" />
	<path d="M64,128 L128,64 L192,128 L128,192 Z" stroke-width="2" stroke="#000000" fill="none" />
	<text x="128" y="145" style="font-family: 'Roboto Slab'; font-weight: bold; text-anchor: middle; font-size: 48px;" fill="#FFFFFF">FK</text>
</svg>