<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Wasserrettungstrupp</title>
	<defs>
		<clipPath id="symbol">
			<rect x="10" y="64" width="236" height="128" />
		</clipPath>
	</defs>
	<rect x="10" y="64" width="236" height="128" fill="#FFFFFF" stroke="#000000" stroke-width="10" clip-path="url(#symbol)" />
	<rect x="10" y="64" width="236" height="128" fill="none" stroke="#000000" stroke-width="1" />

	<path d="M128 140 l16 16 l-16 16 l-16 -16 l16 -16 Z" stroke-width="2" stroke="#000000" fill="none" />
	<path d="M53 123 c25 -30 40 -30 50 -20 c25 25 25 25 50 0 c10 -10 25 -10 50 20" stroke-width="2" stroke="#000000" fill="none" />
	<path d="M53 133 c25 -30 40 -30 50 -20 c25 25 25 25 50 0 c10 -10 25 -10 50 20" stroke-width="2" stroke="#000000" fill="none" />

	<ellipse cx="128" cy="48" rx="10" ry="10" fill="#000000" />
</svg>