<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Peilantenne</title>
	<path d="M128,10 l0,236" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M128,3 l0,250" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M78,3 l50,100 l50,-100" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M53,203 l150,50" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M53,253 l150,-50" stroke="#000000" stroke-width="5" fill="none" />
</svg>
