<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Digitaler Sprechfunk</title>
	<path d="M10,58 l90,0 l0,56 l56,0 l0,-56 l90,0" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M10,128 l236,0" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M38,138 l30,30 l30,-30 l30,30 l30,-30 l30,30 l30,-30" stroke="#000000" stroke-width="5" fill="none" />
</svg>