<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256">
	<defs>
		<style type="text/css">
		{% include './fonts/fonts.j2' %}
		</style>
	</defs>
	<rect x="96" y="64" width="128" height="128" stroke-width="5" stroke="#000000" fill="#FFFFFF" />
	<rect x="32" y="64" width="64" height="64" stroke-width="5" stroke="#000000" fill="#FFFFFF" />
        <rect x="32" y="128" width="64" height="64" stroke-width="5" stroke="#000000" fill="#FFFFFF" />
	<path d="M112,94 l98,0" stroke-width="5" stroke="#000000" fill="none" />
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 350%; text-anchor: middle;" fill="#000000" x="160" y="145">C</text>
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 200%; text-anchor: middle;" fill="#000000" x="160" y="180">OB 10</text>
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 200%; text-anchor: middle;" fill="#000000" x="64" y="106">AZ</text>
	<text style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 200%; text-anchor: middle;" fill="#000000" x="64" y="170">AZ</text>
</svg>