<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Festbildübertragung Funk</title>
	<path d="M80,48 l0,160" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M112,48 l0,160" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M144,48 l0,160" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M176,48 l0,160" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M48,80 l160,0" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M48,112 l160,0" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M48,144 l160,0" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M48,176 l160,0" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M38,216 l30,30 l30,-30 l30,30 l30,-30 l30,30 l30,-30" stroke="#000000" stroke-width="5" fill="none" />
</svg>
