<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Feldkabel</title>
	<path d="M10,128 l236,0" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M128,96 l0,64" stroke="#000000" stroke-width="5" fill="none" />
</svg>