<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Netzübergang</title>
	<rect x="32" y="64" width="192" height="128" stroke-width="5" stroke="#000000" fill="#FFFFFF" />
	<path d="M32,191 l192,-126" stroke-width="5" stroke="#000000" fill="none" />
</svg>