<?xml version="1.0" standalone="no"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<circle fill="#FFFFFF" stroke="#000000" stroke-width="5" cx="128" cy="128" r="64"/>
	<path d="M80,110 l96,0" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M80,127 a10,10 90 0 1 0,20" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M176,127 a10,10 90 1 0 0,20" stroke="#000000" stroke-width="5" fill="none" />
	<path d="M90,135 l8,8 l15,-15 l15,15 l15,-15 l15,15 l8,-8" stroke="#000000" stroke-width="5" fill="none" />
</svg>
