<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>ABC Erkundungsgruppe</title>
	<defs>
		<clipPath id="symbol">
			<rect x="10" y="64" width="236" height="128" />
		</clipPath>
	</defs>
	<rect x="10" y="64" width="236" height="128" stroke="#FFFFFF" stroke-width="10" fill="#FF0000" clip-path="url(#symbol)" />
	<path d="M10,192 l236,-128" stroke-width="5" stroke="#ffffff" fill="none" clip-path="url(#symbol)" />
	<rect x="10" y="64" width="236" height="128" stroke="#000000" stroke-width="1" fill="none" />
	<ellipse cx="64"  cy="48" rx="10" ry="10" fill="#000000" />
	<ellipse cx="192" cy="48" rx="10" ry="10" fill="#000000" />
	<path d="M88 92 L188 164 M168 92 L68 164" stroke="#FFFFFF" stroke-width="10" fill="none" />
	<ellipse cx="78" cy="102" rx="20" ry="20" fill="#FFFFFF" />
	<ellipse cx="178" cy="102" rx="20" ry="20" fill="#FFFFFF" />
</svg>