<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewBox="0 0 256 256">
	<title>Löschzug der Werksfeuerwehr</title>
	<defs>
		<style type="text/css">
		{% include './fonts/fonts.j2' %}
		</style>
		<clipPath id="symbol">
			<rect x="10" y="64" width="236" height="128" />
		</clipPath>
	</defs>
	<rect x="10" y="64" width="236" height="128" stroke="{{ feuerwehr.colorSecondary }}" stroke-width="10" fill="{{ feuerwehr.colorPrimary }}" clip-path="url(#symbol)" />
	<rect x="10" y="64" width="236" height="128" stroke="{{ feuerwehr.colorStroke }}" stroke-width="1" fill="none" />
	<ellipse cx="128" cy="48" rx="10" ry="10" fill="{{ feuerwehr.colorStroke }}" />
	<ellipse cx="64"  cy="48" rx="10" ry="10" fill="{{ feuerwehr.colorStroke }}" />
	<ellipse cx="192" cy="48" rx="10" ry="10" fill="{{ feuerwehr.colorStroke }}" />
	<path d="M11 128 L245 128 M156 128 L241 69 M156 128 L241 187" stroke="{{ feuerwehr.colorSecondary }}" stroke-width="10" fill="none" />
	<text x="22" y="100" style="font-family: 'Roboto Slab'; font-weight: bold; font-size: 32px;" fill="{{ feuerwehr.colorSecondary }}">WF</text>
</svg>