<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Sprechfunkbetriebstrupp</title>
	<defs>
		<clipPath id="symbol">
			<rect x="10" y="64" width="236" height="128" />
		</clipPath>
	</defs>
	<rect x="10" y="64" width="236" height="128" stroke="#FFFFFF" stroke-width="10" fill="#FF0000" clip-path="url(#symbol)" />
	<path d="M10 64 l118 96 l0 -64 l118 96" stroke="#FFFFFF" stroke-width="5" fill="none" clip-path="url(#symbol)" />
		<path d="M155 80 l72 0" stroke="#FFFFFF" stroke-width="5" fill="none" />
	<path d="M155 88 l12 12 l12 -12 l12 12 l12 -12 l12 12 l12 -12" stroke="#FFFFFF" stroke-width="3" fill="none" />
	<rect x="10" y="64" width="236" height="128" stroke="#000000" stroke-width="1" fill="none" />
	<ellipse cx="128" cy="48" rx="10" ry="10" fill="#000000" />
</svg>