<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="256" height="256" viewbox="0 0 256 256">
	<title>Versorgungstrupp Verbrauchsgüter</title>
	<defs>
		<clipPath id="symbol">
			<rect x="10" y="64" width="236" height="128" />
		</clipPath>
	</defs>
	<rect x="10" y="64" width="236" height="128" fill="#FF0000" stroke="#FFFFFF" stroke-width="10" clip-path="url(#symbol)" />
	<rect x="10" y="64" width="236" height="128" fill="none" stroke="#000000" stroke-width="1" />
	<ellipse cx="128" cy="48" rx="10" ry="10" fill="#000000" />
	<path d="M124 145 l0 -40 L110 85 l36 0 l-14 20 l0 40" stroke="#FFFFFF" stroke-width="3" fill="none" />
	<rect x="11" y="166" width="234" height="25" fill="#FFFFFF" />
</svg>